.masonryGrid {
  display: flex;
  margin-left: -10px; /* gutter offset */
  width: auto;
}

.masonryColumn {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.masonryColumn > div {
  margin-bottom: 10px; /* vertical gutter */
}
